body, html {
    height: 100%;
    padding: 0px 20px;
  }

  @keyframes transitionIn {
    from {background-position: left;}
    to {background-position: -30px;}
}
.navbar-light .navbar-brand{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-top: 18px;
}

.nav-link {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     color: grey; 
     background-color: #fff;
}

.active {
    text-decoration: underline;
    color: black;
    background: none;
}


.background {
    animation: transitionIn 20s;
    background-image: url("../pics/ssa.png");
    background-position: -30px;
    height: 100%;
    }
    
.pozadiknizky {
    animation: transitionIn 20s;
    background-image: url("../pics/knizky.png");
    background-position: -30px;
    height: 100%;
    }

.oba {
    height: 70%;
    }

.vsechno {
    height: 100%;
}

.vlevo {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    /* box-shadow: 0 0 5px 2px #ffffff;  */
}

.klogu {
    height: 100%;
}

.logo {
    background-image: url("../pics/logo_na_web.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 10%;
}

.kontaktujtenas {
    margin-top: 60%;
}

.btn {
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
}


@media (max-width: 574px) {
    .vpravo {
      display: none;
    }
  }