body, html {
    height: 100%;
    padding: 0px 20px;
  }

  @keyframes transitionIn {
    from {background-position: left;}
    to {background-position: -30px;}
}

/*-------------------------------NAVBAR-------------------------------- */

.navbar-light .navbar-brand{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-top: 18px;
}

.nav-link {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     color: grey; 
     background-color: #fff;
}

.active {
    text-decoration: underline;
    color: black;
    background: none;
}

/*-------------------------------BACKGROUNDS-------------------------------- */
.background {
    animation: transitionIn 20s;
    background-image: url("../pics/ssa.png");
    background-position: -30px;
    height: 100%;
    }

.pozadiknizky {
    animation: transitionIn 20s;
    background-image: url("../pics/pravo3.jpg");
    background-position: -30px;
    height: 100%;
    background-size: cover;
    }

.pozadiReferanslar {
    animation: transitionIn 20s;
    background-image: url("../pics/reference1.jpg");
    height: 100%;
    background-size: cover;
    background-position: -30px;
    background-attachment: fixed;
    }

.pozadiBaglanti {
        background-color: #1d4a77;
        height: 100%;
        background-size: cover;
    }


    /*-------------------------------FIRST PAGE-------------------------------- */
.oba {
    height: 70%;
    }

.vsechno {
    height: 100%;
}

.vlevo {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}

.klogu {
    height: 100%;
}

.logo {
    background-image: url("../pics/logo_na_web.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15%;
}

.logoEng {
    background-image: url("../pics/logo_na_web_ANG.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15%;
}

.kontaktujtenas {
    margin-top: 60%;
}

 /*-------------------------------ABOOUT US PAGE-------------------------------- */

.vlevoHakkimizda {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

.kloguHakkimizda {
    height: 20%;
}

.logoHakkimizda {
    background-image: url("../pics/logo_na_web.png");
    background-size:20%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
}

.logoHakkimizdaEng {
    background-image: url("../pics/logo_na_web_ANG.png");
    background-size:20%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
}

.textHakkimizda {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    text-align: justify;
}

.nadpis {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 2px;
}

 /*-------------------------------REFERENCES PAGE-------------------------------- */

.vsechnoReferanslar {
    height: 100%;
}

.pozadiTextReferanslar {
    background-color: rgba(255, 255, 255, 0.9);
}    

.logoReferanslar {
    background-image: url("../pics/logo_na_web.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2%;
}

.textReferanslar {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.textReferanslar .col-12 {
    padding: 1rem 1rem;
}

.nadpisReferanslar {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 2rem;
}

/*------------------------------CONTACT PAGE-------------------------------- */

.kontaktyContainer {
    height: 100%;
}

.kloguBaglanti {
    height: 30%;
    padding-top: 4%;
}

.logoBaglanti {
    background-image: url("../pics/logo_na_web_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.textKontakty {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100%;
}

.spodekKontakty {
    text-align: center;
    margin-top: 7%;
}


/*------------------------------BOOTSTRAP ALTERNATIONS-------------------------------- */

.btn {
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
    margin-top: 20px;
}

.row {
    --bs-gutter-x: none;
}

/*------------------------------MEDIA-------------------------------- */

@media (max-width: 574px) {
    .vpravo {
      display: none;
    }
    .kloguReferanslar {
      display: none;
    }
    .textKontakty {
        font-size: 0.8rem;
    }
    .ikonyKontakty {
        font-size: small;
    }
  }