body, html {
    height: 100%;
    padding: 0px 20px;
  }

  @keyframes transitionIn {
    from {background-position: left;}
    to {background-position: -30px;}
}
.navbar-light .navbar-brand{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-top: 18px;
}

.nav-link {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}



.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     color: grey; 
     background-color: #fff;
}

.active {
    text-decoration: underline;
    color: black;
    background: none;
}


.background {
    animation: transitionIn 20s;
    background-image: url("../pics/ssa.png");
    background-position: -30px;
    height: 100%;
    }

.pozadiknizky {
    animation: transitionIn 20s;
    background-image: url("../pics/knizky14.png");
    background-position: -30px;
    height: 100%;
    background-size: cover;
    }

.pozadiReferanslar {
    animation: transitionIn 20s;
    background-image: url("../pics/reference6.png");
    height: 100%;
    background-size: cover;
    background-position: -30px;
    background-attachment: fixed;
    }

.pozadiBaglanti {
        background-color: #1d4a77;
        height: 100%;
    }

.kontaktyContainer {
    height: 100%;
   
}

.oba {
    height: 70%;
    }

.vsechno {
    height: 100%;
}

.vsechnoReferanslar {
    height: 100%;
}

.pozadiTextReferanslar {
    background-color: rgba(255, 255, 255, 0.9);
}

.vlevo {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    /* box-shadow: 0 0 5px 2px #ffffff;  */
}

.vlevoHakkimizda {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    /* box-shadow: 0 0 5px 2px #ffffff;  */
}

.klogu {
    height: 100%;
}

.kloguHakkimizda {
    height: 20%;
}

.kloguBaglanti {
    height: 30%;
    padding-top: 4%;
    
}


.logo {
    
    background-image: url("../pics/logo_na_web.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15%;
}

.logoHakkimizda {
    background-image: url("../pics/logo_na_web.png");
    background-size:20%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
}

.logoReferanslar {
    background-image: url("../pics/logo_na_web.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2%
}

.logoBaglanti {
    background-image: url("../pics/logo_na_web_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

.textHakkimizda {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    text-align: justify;
}

.textReferanslar {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.textReferanslar .col-4 {
    padding: 1rem 2.5rem;
}

.nadpis {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 2px;
}

.nadpisReferanslar {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    padding-top: 2rem;
}

.textKontakty {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100%;
}
.kontaktujtenas {
    margin-top: 60%;
}

.btn {
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
}

.row {
    --bs-gutter-x: none;
}

.spodekKontakty {
    text-align: center;
    margin-top: 10%;
}

.ikony {
    margin-top: 10%;
}

.ikony a {
    color: white;
    margin: 0 4rem;

   

}

@media (max-width: 574px) {
    .vpravo {
      display: none;
    }
  }